body{    
    margin:auto;
    padding:10px 0px 0px 0px;
    background-color:#fff;
    /*background-image:url("images/fundo_escrita.png")("images/logo.png");*/
    background-position: top left, top right;
    background-repeat:no-repeat, no-repeat;
    background-attachment: fixed;
    width:100%;
    font-family:Verdana;
    font-size:14px;
}

#naveg{    
    display: inline-block;
    opacity:0.95;
    color:#fff;
    background-color:#0044ff;  
    width: 100%;    
    height: 60px;    
}

li{
    list-style: none;
}

#naveg ul li{    
    width: 100px;
    padding: 5px;
    text-align: center;        
    color:#fff;
    background-color:#0044ff;
    float: left;

}

#naveg ul li ul li{    
    position:relative;
    display:none;
    top:20px;
    left:-45px;
    overflow: visible;
}

#naveg ul li a{    
    text-decoration:none;
    font-weight:bold;
    background-color:#0044ff;
    color:#fff;
}

#conteudo{
    padding:0px;
    text-align:justify;
    color:#000;
    padding:20px;
    background-color:#fff;
    width: 900px;
    margin:auto;
    min-height: 450px;       
}

.tabela_all{	
    width: 800px;
    margin:15px auto;
}

.cabecalho_table{
    border-width: 0px; 
    border-color: #0044ff;
    border-style: solid;
    background-color: #0044ff;
    color:#fff;
    padding:5px;
    text-align:center;
}

.linha_table, .linha_table_opcoes{
    border-width: 0px 0px 1px 0px; 
    border-color: gray;
    border-style: solid;
}

.linha_table:hover, .linha_table_opcoes:hover{
    border-width: 0px 0px 1px 0px;
    border-color: #ff0000;
    border-style: dashed;
}

.linha_table_opcoes{
    width:60px;
    text-align:center;
}

#rodape{
    margin:0px;
    padding:2px;
    text-align:center;
    background-color:#0044ff;
    color:#fff;
    width:100%;

}

.label_login {
    width: 70px; 
    display: inline-block;
}

.label_add {    
    display: inline-block;
    padding: 5px;
}

.label_view{
    display: inline-block;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    color:#0044ff;
}

#fieldset_login{    
    margin:auto;
    width:250px;
    border-color: #06f;    
    border-width: 2px;
}

#fieldset_view{    
    border-color: #0044ff;    
    border-width: 2px;
}

#botao_login{
    width: 240px;
    height: 30px;    
    margin: 5px;
    border:none;
    color: #fff;
    background-color: #06f;
    font-weight: 900;
    font-size: medium;
    box-shadow: 2px 2px #000;
}

#botao_login:hover {
    border:none;
    color:#000;
    background-color: #cccccc; 
    font-weight: 900;
    font-size: medium;
    box-shadow: 2px 2px #000;
}

.botao_submit{    
    height: 30px;
    border:none;
    margin: 5px;    
    color: #fff;
    background-color: #06f;
    font-weight: bolder;    
    box-shadow: 2px 2px #000;
}

.botao_submit:hover {
    height: 30px;
    border:none;
    color:#000;
    background-color: #cccccc; 
    font-weight: bolder;    
    box-shadow: 2px 2px #000;
}

a{
    text-decoration: none;
}

.link_novo{    
    display: inline-block;
    box-shadow: 2px 2px #000;
    color:#000;
    border:1px solid black;
    background-color: transparent;    

    padding: 5px;
    margin: 5px;    
    text-align: center;
    font-weight: bolder;
}

.link_novo:hover{    
    display: inline-block;    

    padding: 5px;
    margin: 5px;          
    color: #fff;
    background-color: #06f;
    text-align: center;
    font-weight: bolder;
}

.parag_add_treino{
    width: 800px;
    margin:auto;  
    border:1px solid #06f;
    display: none;
}

.OK{
    background-color: #00ff00;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.WARNING{
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}